{% trans_default_domain 'FOSUserBundle' %}
{% extends "::main.html.twig" %}
{% block title %}Check{% endblock %}
{% block fos_user_content %}
    <div class="container">

        <div class="col-md-8 col-md-offset-2" style="margin-top: 50px;">
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content" style="padding: 0px 0 0; !important;">
                        <h1 style="color: green">{{ 'Account Created successfulley you need to confirm it !'|trans({'%email%': user.email}) }}</h1>



                    </section>
                </div>
            </div>
        </div>
{% endblock fos_user_content %}